body {
  margin: 0;
  background: #d1ebd4;
  height: 100vh;
}
body svg {
  margin: 0 auto;
  width: 400px;
  position: relative;
  z-index: 1;
  top: 50%;
  height: 100%;
}
body svg .line:nth-of-type(1) {
  -webkit-animation: dash_loader 1s 1.5s linear forwards;
  animation: dash_loader 1s 1.5s linear forwards;
}
body svg .line:nth-of-type(2) {
  -webkit-animation: dash_loader 1s 1.6s linear forwards;
  animation: dash_loader 1s 1.6s linear forwards;
}
body svg .line:nth-of-type(3) {
  -webkit-animation: dash_loader 1s 1.7s linear forwards;
  animation: dash_loader 1s 1.7s linear forwards;
}
body svg .line:nth-of-type(4) {
  -webkit-animation: dash_loader 1s 1.8s linear forwards;
  animation: dash_loader 1s 1.8s linear forwards;
}
body svg .line:nth-of-type(5) {
  -webkit-animation: dash_loader 1s 1.9s linear forwards;
  animation: dash_loader 1s 1.9s linear forwards;
}
body svg .line:nth-of-type(6) {
  -webkit-animation: dash_loader 1s 2s linear forwards;
  animation: dash_loader 1s 2s linear forwards;
}
body svg .line:nth-of-type(7) {
  -webkit-animation: dash_loader 1s 2.1s linear forwards;
  animation: dash_loader 1s 2.1s linear forwards;
}
body svg .line:nth-of-type(8) {
  -webkit-animation: dash_loader 1s 2.2s linear forwards;
  animation: dash_loader 1s 2.2s linear forwards;
}
body svg .line:nth-of-type(9) {
  -webkit-animation: dash_loader 1s 2.3s linear forwards;
  animation: dash_loader 1s 2.3s linear forwards;
}
body svg .line:nth-of-type(10) {
  -webkit-animation: dash_loader 1s 2.4s linear forwards;
  animation: dash_loader 1s 2.4s linear forwards;
}

.forest img {
  height: 100%;
  max-height: 1000px;
  position: absolute;
  bottom: 100%;
  left: 0;
}
.forest img:nth-of-type(1) {
  -webkit-animation: popup 0.7s 0.1s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.1s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(2) {
  -webkit-animation: popup 0.7s 0.2s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.2s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(3) {
  -webkit-animation: popup 0.7s 0.3s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.3s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(4) {
  -webkit-animation: popup 0.7s 0.4s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.4s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(5) {
  -webkit-animation: popup 0.7s 0.5s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.5s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(6) {
  -webkit-animation: popup 0.7s 0.6s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.6s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(7) {
  -webkit-animation: popup 0.7s 0.7s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.7s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(8) {
  -webkit-animation: popup 0.7s 0.8s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.8s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(9) {
  -webkit-animation: popup 0.7s 0.9s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 0.9s forwards cubic-bezier(0, 0.615, 0, 0.995);
}
.forest img:nth-of-type(10) {
  -webkit-animation: popup 0.7s 1s forwards cubic-bezier(0, 0.615, 0, 0.995);
  animation: popup 0.7s 1s forwards cubic-bezier(0, 0.615, 0, 0.995);
}

@-webkit-keyframes popup {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes popup {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
path,
polyline,
line {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  stroke-width: 12px;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
  fill: none;
  stroke: white;
  z-index: 1;
  opacity: 1;
}

@-webkit-keyframes dash_loader {
  to {
    stroke-dashoffset: -0;
    stroke-width: 3px;
    stroke: white;
  }
}

@keyframes dash_loader {
  to {
    stroke-dashoffset: -0;
    stroke-width: 3px;
    stroke: white;
  }
}

img,
embed,
object,
audio,
video {
  max-width: none;
}

.primary-font {
  font-family: "Berkshire Swash", monospace;
}

.has-text-primary-dark {
  color: #243f45;
}

.has-bg-primary-dark {
  background-color: #243f45;
}

.has-border-primary-dark {
  border: 1px solid #243f45;
}

.has-text-success-dark {
  color: #006400;
}

.is-fullheight {
  height: 100%;
}

.is-size-14px {
  font-size: 14px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.table th {
  padding: 0.0em 0.75em 0.5em 0.75em;
}

.is-tab-link:active {
  position: relative;
  top: 2px;
}

.button {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.button:hover, .button.is-hovered {
  border-color: inherit;
  color: #363636;
}
.button[disabled] {
  background-color: inherit;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5;
}

.button.is-text:active,
.button.is-text.is-active {
  background-color: transparent;
}

.button.is-text:hover,
.button.is-text.is-active {
  background-color: transparent;
}

.button.is-text:focus {
  background-color: transparent;
}

.table td, .table th {
  border: 0;
}